body {
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(44, 44, 44);
}


.herobox {
    background-color: #1f2937;
    color: white;
    padding-right: 200px;
    padding-top: 20px;
    padding-left: 200px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.maintext {
    font-size: 48px;
    font-weight: 800;
}

.list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;  
}

.text {
    display: flex;
    width: 500px;
    flex-direction: column;
}

.list, .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.middlepart {
    display: flex;
    padding-top: 80px;
    padding-bottom: 120px;
    justify-content: space-between;
    align-content: center;
}
 
.picture {
    background: rgb(109, 109, 109);
    width: 500px;
    height: 200px;
    text-align: center;
    border-radius: 12px;
}

.button {
    background-color: #3882F6;
    border: none;
    text-align: center;
    width: 120px;
    padding-block: 7px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
}

.calltoaction {
    background-color: white;
}

.information {
    text-align: center;
    font-size: 36px;
    padding: 43px;
    color: #1f2937;
    font-weight: 800;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 122px;

}

.box {
    display:inline-block;
    width:160px;
    height:160px;
    border:4px solid #3882F6;
    border-radius: 12px;

}

.info {
    max-width: 170px;
    text-align: center;
}

.quote {
    display: inline-block;
    background-color: #e5e7eb;
    padding: 160px 300px 160px 300px;
}

.quotetext {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

p {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}