body {
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.herobox {
    background-color: #1f2937;
    color: white;
    padding-right: 200px;
    padding-top: 20px;
    padding-left: 200px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.maintext {
    font-size: 48px;
    font-weight: 800;
}

.list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.text {
    display: flex;
    width: 500px;
    flex-direction: column;
}

.list {
    display: flex;
    justify-content:flex-end;
    list-style-type: none;  
}

.list, .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.middlepart {
    padding-top: 80px;
    padding-bottom: 80px;
}

.picture {
    width: auto;
    height: auto;
    background-color: black;
}